main{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: minmax(150px, auto);
    background-color: bisque;
}

.nav-item{
    margin: 10px;
    pad: 10px;
    text-decoration: none;
}

.field{
    margin: 30px;
}





